@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.layoutHeight {
  height: 100dvh;
  background: #afafaf !important;
}
