.contBoxAltaBoletines {
    display: flex;
    padding: 20px !important;
    border-radius: 25px;
    margin-top: 20px;
    /* width: 70% !important; */
    align-items: center;
    flex-direction: column;
    background-color: #0066ff;
    box-Shadow: 0 5px 8px rgba(0, 0, 0, 0.5)
}

.contAltaBoletines {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* INPUTFILE*/
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    height: 60px !important;
}

.formGroup {
    width: 100%;
    display: flex;
    flex: start;
    padding: 30px;
    padding-top: 0px;
    flex-direction: column;
    justify-content: space-between !important;

}

.encabezadoBoletin {
    border-radius: 20px;
}

.cuerpoBoletin {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    justify-content: space-around !important;
}

.btnAgregar {
    min-width: 64px;
    max-width: 230px;
}

.cuerpoBoletinForm {
    display: flex;
    flex-direction: column;
    padding-right: 18px;
}

.listadoNormas {
    display: contents;
    height: 300px;
    padding: 10px;
    overflow-y: scroll !important;
    margin-right: -30px !important;
    margin-bottom: 10px;
    margin-top: 10px !important;
    display: ruby-base-container;
    justify-self: left !important;
}

.norma {
    border: solid 1px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    margin-left: 5px;
    width: max-content !important;
    padding: 5px;
    font-size: small;
    align-items: center !important;
}

.normaRepetida {
    border-color: red;
    animation: zoomInOut 3s infinite alternate;
}


@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.09);
    }

    100% {
        transform: scale(1);
    }
}

.listadoPrueba {
    border-radius: 8px;
    border: solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 312px;
    margin-top: 15px !important;
    width: 600px !important;
    overflow-y: scroll;

}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 200px !important;
    background-color: grey !important;

}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 200px !important;

}

.nroBoletin {
    width: 100%;
    display: flex;
    color: #ffffff;
    flex: start
}

.contRango {
    margin-top: 10px;
    color: #ffffff;
}



.contRango div {
    width: 100%;
    margin-top: 5px;
}

label {
    margin-top: 4px !important;
}


.contInputFileBoletin {
    display: flex;
    flex-direction: column;

}

.inputAltaBoletin,
.inputFileAltaBoletin {
    width: 100% !important;
    align-content: center !important;

}

::-webkit-file-upload-button {
    cursor: pointer !important;

}

.inputFileAltaBoletin input {
    opacity: 0;
    position: absolute;
    cursor: pointer !important;
    height: 60px !important;
}

.fileNameDisplay {
    width: 250px;
    padding: 8px;
    display: flex;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer !important;
    background-color: rgba(255, 255, 255, 0.288);
}

.selectOrigen {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.X {
    border-radius: 5px;
    margin-left: 10px;
    background-color: red;
}

.X:hover {
    cursor: pointer;
    background-color: rgb(173, 3, 3);
}

@media (max-width: 768px) {
    .contAltaBoletines {
        align-items: center;
        flex-direction: column;
    }

    .formGroup {
        width: 100%;
    }

    .css-1x51dt5-MuiInputBase-input-MuiInput-input {
        margin-bottom: 2px !important;


    }

    .contInputFileBoletin {
        height: 15vh !important;

    }
}

@media (max-width: 767px) {
    .css-1x51dt5-MuiInputBase-input-MuiInput-input {
        margin-bottom: 2px !important;
    }

    .inputAltaBoletin label {
        font-size: 13px !important;
    }

    .norma {
        font-size: x-small;
    }

    .fileNameDisplay {
        width: 60vw;
        align-self: center;

    }

    .norma {
        margin-left: 0px;
    }

    .listadoPrueba {
        width: 100% !important;
    }

    .cuerpoBoletin div {
        flex-direction: column !important;

    }

    .cuerpoBoletinForm {
        padding-left: 18px;
    }

    .css-qiwgdb,
    .css-1x5jdmq {
        width: 85% !important;
    }

    .formGroup {
        padding-left: 35px;
        padding-top: 0;
    }

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        width: 90% !important;
        padding-right: 0px !important;
        cursor: pointer;
    }

}